<header>

    <nav class="navbar">

        <div class="logo" id="logo">Andres Dev</div>

        <div class="menu" id="menu">Menú</div>

    </nav>

    <div class="cabecera">

        <h1>Desarrollador web frontend</h1>

        <h2 id="titulo">Hola, Soy <span style="color: #e71414;">Andrés Aroni.</span></h2>

        <div class="parrafo">

            <p id="p1">Creo experiencias digitales excepcionales con tecnologías modernas.</p>
            <p id="p2">Convertir problemas complejos en soluciones elegantes es mi especialidad.</p>

        </div>

        <div class="habilidades">

            <h4>Habilidades:</h4>

            <div class="logos-slide">
                <img src="../resources/javascript.webp">
                <img src="../resources/php.webp">
                <img src="../resources/mysql.webp">
                <img src="../resources/react.svg">
                <img src="../resources/css.svg">
                <img src="../resources/figma.svg">
                <img src="../resources/javascript.webp">
                <img src="../resources/php.webp">
                <img src="../resources/mysql.webp">
                <img src="../resources/react.svg">
                <img src="../resources/css.svg">
                <img src="../resources/figma.svg">
                <img src="../resources/javascript.webp">
                <img src="../resources/php.webp">
                <img src="../resources/mysql.webp">
                <img src="../resources/react.svg">
                <img src="../resources/css.svg">
                <img src="../resources/figma.svg">
                <img src="../resources/javascript.webp">
                <img src="../resources/php.webp">
                <img src="../resources/mysql.webp">
                <img src="../resources/react.svg">
                <img src="../resources/css.svg">
                <img src="../resources/figma.svg">
            </div>

        </div>

        <h3>+2 años creando sistemas escalables y</h3>
        <h3>páginas web para negocios con una</h3>
        <h3>necesidad en específica.</h3>

    </div>

</header>