<h3>Proyecto descatacado</h3>

<div class="proyecto-destacado">
    <img src="../resources/ad178c57f777b2f51cc01ef20f1d709b.png" alt="">
</div>

<div class="enlace">
    <a href="https://el-rincon-peruano.vercel.app/" target="_blank">Visitar Sitio Web</a>
</div>

<h3>Proyectos</h3>

<div class="carrusel">

    <div class="slide-content" id="slides">

        <div class="slide">
            <div class="project">

                <div class="content-img">
                    <img src="../resources/sistema.png" alt="Proyecto 1">
                </div>

                <div class="info">
                    <h4>Sistema para ventas, registro de apuestas deportivas</h4>
                    <p>Manejo de sucursales, vendedores por sucursales, inventario distribuido, sistema de puntos para
                        clientes por compras de recargas, resportes con gráficos.</p>
                    <a href="#" target="_blank">Visitar Sitio Web</a>
                </div>

            </div>
        </div>

        <div class="slide">
            <div class="project">
                <div class="content-img">
                    <img src="../resources/sistema.png" alt="Proyecto">
                </div>
                <div class="info">
                    <h4>Sistema para ventas, registro de apuestas deportivas</h4>
                    <p>Manejo de sucursales, vendedores por sucursales, inventario distribuido, sistema de puntos a
                        cliente por compras de recargas, resportes con gráficos.</p>
                    <a href="#" target="_blank">Visitar Sitio Web</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="buttons">
    <button onclick="prevSlide()">←</button>
    <button onclick="nextSlide()">→</button>
</div>

