.navbar {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.logo, .menu {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    cursor: pointer;
}

.menu {
    width: 140px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 8px;
}

.menu:hover {
    background-color: var(--color-red);
}

.cabecera {
    padding-top: 40px;
}

h1 {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.cabecera h2 {
    padding: 20px 0;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
}

.cabecera h2, .cabecera p {
    opacity: 0;
}

.parrafo {
    max-width: 1000px;
    padding-bottom: 50px;
}

.cabecera p {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 300;
    font-size: 2.2em;
}

.redes-sociales{
    display: flex;
    padding-bottom: 120px;
}

.redes-sociales a {
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    background-color: #161616;
    box-shadow: 0 0 10px 0 #ffffff4e;
    color: white;
    border-radius: 50%;
}

.redes-sociales a:hover{
    background-color: #292929;
}

@keyframes slide{

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-80%);
    }

}

.habilidades{
    overflow: hidden;
    white-space: nowrap;
    padding: 80px 0;
}

.habilidades h4{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 40px;
}

.logos-slide{
    display: flex;
    animation: slide 30s linear infinite;
    width: max-content;
}

.logos-slide img{
    width: 80px;
    margin: 0 80px;
}

.cabecera h3 {
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 400;
    font-size: 4em;
}

@media (width < 650px) {

    .logo, .menu {
        font-size: 1.5em;
    }

    .menu {
        width: 100px;
        height: 40px;
    }

    h1 {
        font-size: 1.2em;
    }

    .cabecera h2 {
        font-size: 1.8em;
    }

    .cabecera p {
        font-size: 1.5em;
    }

    .cabecera h3 {
        font-size: 2.5em;
    }

    .habilidades h4{
        font-size: 1.3em;
    }

    .logos-slide img{
        width: 60px;
    }

}